.header {
	width: 1222px;
	height: 134px;
	margin: 0 auto;
}
.logo {
	width: 380px;
	height: 134px;
	float: left;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 120px 50px;
}
.top {
	width: 1222px;
	height: 34px;
	background-color: #ECECEC;
}
.user {
	width: 500px;
	height: 34px;
	float: right;
	text-align: center;
	line-height: 41px;
	background-image: url(../images/phone.png);
	background-repeat: no-repeat;
	background-position: 136px 10px;
}
.nav {
	width: 842px;
	height: 100px;
	float: right;
	position: relative;
}
.nav ul {
	list-style: none;
	margin: 50px 0;
}
.nav ul li {
	border-right: 2px solid #000;
	float: left;
	padding: 0 15px;
}
.nav ul li a {
	text-decoration: none;
	color: #000;
}
.nav ul li.last {
	border-right: none;
}
.nav ul li.active {
	font-weight: 900;	
}
.line {
	width: 70px;
	height: 2px;
	background-color: #000;
	position: absolute;
	top: 70px;
	left: 210px;
}

.banner { 
	width: 1222px;
	height: 400px;
	background-image: url(../images/banner.png);
	margin: 0 auto;
	position: relative;
}
.banner1 {
	width: 372px;
	height: 72px;
	position: absolute;
	left: 424px;
	top: 158px;
}
.banner2 {
	width: 26px;
	height: 112px;
	position: absolute;
	left: 1196px;
	top: 99px;
}

.middle {
	width: 1222px;
	height: 1674px;
	margin: 0 auto;
	position: relative;
}
.middle h6 {
	position: absolute;
	top: -46px;
	left: 140px;
}
.middle1 {
	width: 962px;
	border-bottom: 2px solid #6C7074;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 10px;
}
.middle2 {
	width: 936px;
	height: 1540px;
	margin: 0 auto;
}

.base1 {
	width: 174px;
	height: 27px;
	margin-top: 117px;
	text-align: center;
}
.base2 {
	width: 174px;
	height: 144px;
	background-repeat: no-repeat;
	float: left;
	margin-bottom: 16px;
}
.middle2_1 {
	background-image: url(../images/middle1.png);
}
.middle2_2 {
	background-image: url(../images/middle2.png);
	margin-left: 16px;
}
.middle2_3 {
	background-image: url(../images/middle3.png);
	margin-left: 16px;
}
.middle2_4 {
	background-image: url(../images/middle4.png);
	margin-left: 16px;
}
.middle2_5 {
	background-image: url(../images/middle5.png);
	margin-left: 16px;
}
.middle2_6 {
	background-image: url(../images/middle6.png);
}
.middle2_7 {
	background-image: url(../images/middle7.png);
	margin-left: 16px;
}
.middle2_8 {
	background-image: url(../images/middle8.png);
	margin-left: 16px;
}
.middle2_9 {
	background-image: url(../images/middle9.png);
	margin-left: 16px;
}
.middle2_10 {
	background-image: url(../images/middle10.png);
	margin-left: 16px;
}
.middle2_11 {
	background-image: url(../images/middle11.png);
}
.middle2_12 {
	background-image: url(../images/middle12.png);
	margin-left: 16px;
}
.middle2_13 {
	background-image: url(../images/middle13.png);
	margin-left: 16px;
}
.middle2_14 {
	background-image: url(../images/middle14.png);
	margin-left: 16px;
}
.middle2_15 {
	background-image: url(../images/middle15.png);
	margin-left: 16px;
}
.middle2_16 {
	background-image: url(../images/middle16.png);
}
.middle2_17 {
	background-image: url(../images/middle17.png);
	margin-left: 16px;
}
.middle2_18 {
	background-image: url(../images/middle18.png);
	margin-left: 16px;
}
.middle2_19 {
	background-image: url(../images/middle19.png);
	margin-left: 16px;
}
.middle2_20 {
	background-image: url(../images/middle20.png);
	margin-left: 16px;
}
.middle2_21 {
	background-image: url(../images/middle21.png);
}
.middle2_22 {
	background-image: url(../images/middle22.png);
	margin-left: 16px;
}
.middle2_23 {
	background-image: url(../images/middle23.png);
	margin-left: 16px;
}
.middle2_24 {
	background-image: url(../images/middle24.png);
	margin-left: 16px;
}
.middle2_25 {
	background-image: url(../images/middle25.png);
	margin-left: 16px;
}
.middle2_26 {
	background-image: url(../images/middle26.png);
}
.middle2_27 {
	background-image: url(../images/middle27.png);
	margin-left: 16px;
}
.middle2_28 {
	background-image: url(../images/middle28.png);
	margin-left: 16px;
}
.middle2_29 {
	background-image: url(../images/middle29.png);
	margin-left: 16px;
}
.middle2_30 {
	background-image: url(../images/middle30.png);
	margin-left: 16px;
}
.middle2_31 {
	background-image: url(../images/middle31.png);
}
.middle2_32 {
	background-image: url(../images/middle32.png);
	margin-left: 16px;
}
.middle2_33 {
	background-image: url(../images/middle33.png);
	margin-left: 16px;
}
.middle2_34 {
	background-image: url(../images/middle34.png);
	margin-left: 16px;
}
.middle2_35 {
	background-image: url(../images/middle35.png);
	margin-left: 16px;
}
.middle2_36 {
	background-image: url(../images/middle36.png);
}
.middle2_37 {
	background-image: url(../images/middle37.png);
	margin-left: 16px;
}
.middle2_38 {
	background-image: url(../images/middle38.png);
	margin-left: 16px;
}
.middle2_39 {
	background-image: url(../images/middle39.png);
	margin-left: 16px;
}
.middle2_40 {
	background-image: url(../images/middle40.png);
	margin-left: 16px;
}
.middle2_41 {
	background-image: url(../images/middle41.png);
}
.middle2_42 {
	background-image: url(../images/middle42.png);
	margin-left: 16px;
}
.middle2_43 {
	background-image: url(../images/middle43.png);
	margin-left: 16px;
}
.middle2_44 {
	background-image: url(../images/middle44.png);
	margin-left: 16px;
}
.middle2_45 {
	background-image: url(../images/middle45.png);
	margin-left: 16px;
}
.middle2_46 {
	background-image: url(../images/middle46.png);
}
.middle2_47 {
	background-image: url(../images/middle47.png);
	margin-left: 16px;
}
.middle2_48 {
	background-image: url(../images/middle48.png);
	margin-left: 16px;
}
.middle2_49 {
	background-image: url(../images/middle49.png);
	margin-left: 16px;
}
.middle2_50 {
	background-image: url(../images/middle50.png);
	margin-left: 16px;
}

.aa {
	width: 1222px;
	height: 50px;
}
.base3 {
	float: left;
	margin-left: 10px;
}
.aa1 {
	float: left;
	margin-left: 530px;
}

.footer {
	width: 1222px;
	height: 118px;
	margin: 0 auto;
	background-color: #EAEAEA;
	padding-top: 28px;
}
.footer p {
	text-align: center;
	font-size: 10px;
}